html,
body,
a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
}

#container {
  position: relative;
}

#intro {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 600%;
  position: absolute;
  display: none;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 45%;
  color: #ffffff;
}

#particles {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#scrollsections-navigation {
  display: none;
  position: absolute;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  color: #fdc029;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 500;
}
#scrollsections-navigation a {
  position: relative;
  display: inline-block;
  color: #fdc029;
  font-size: 100%;
  transition-duration: 0.2s;
  font-weight: 700;
  margin: 0px 5px 0px 5px;
}

#scrollsections-navigation a:hover {
  color: #ffffff;
}

#home {
  width: 100%;
  height: 100%;
  background-color: #292929;
  position: relative;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-100%);
  color: #ffffff;
  font-size: 400%;
  font-weight: 200;
}

#about {
  position: relative;
  background-color: #fdc029;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}

#about-nav {
  position: absolute;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  color: #000000;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
}

#about-nav a {
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 0px 5px 0px 5px;
}

#about-nav a:hover {
  color: #ffffff;
}

#about-left {
  position: relative;
}

.bio {
  margin: 10% 10% 0% 10%;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 140%;
  display: none;
}

#about-right {
  position: relative;
  background-color: white;
}

#pf-pic {
  position: absolute;
  width: 6%;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 20%;
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px grey;
}

#projects {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#projects-nav {
  position: absolute;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  color: #000000;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
}

#projects-nav a {
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 0px 5px 0px 5px;
}

#projects-nav a:hover {
  color: #fdc029;
}

#projects-left {
  position: relative;
  background-color: #ffffff;
}

#projects-left .section-title {
  color: #000000;
}

#projects-right {
  position: relative;
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.project {
  position: relative;
}

.project a {
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  font-weight: 400;
  position: relative;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  color: #2f2822;
  top: 20px;
  margin: 10% 10% 10% 10%;
  transition-duration: 0.2s;
}

.project a:hover {
  color: #f19827;
}

.link {
  width: 20px;
}

.proj-desc {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 150%;
  margin: 10% 10% 10% 10%;
  color: #292929;
}

#educake {
  background-color: #f19827;
  transition-duration: 0.2s;
}

#educake:hover {
  background-color: #f5f5f5;
}

#matchmeet {
  transition-duration: 0.2s;
  background-color: #ffc962;
}

#matchmeet:hover {
  background-color: #f5f5f5;
}

#connect4 {
  transition-duration: 0.2s;
  background-color: #ffe59e;
}

#connect4:hover {
  background-color: #f5f5f5;
}

#project-header {
  position: relative;
  margin: 10% 10% 10% 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#contact {
  position: relative;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}

#contact-nav {
  position: absolute;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  color: #fdc029;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700;
}

#contact-nav a {
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 0px 5px 0px 5px;
}

#contact-nav a:hover {
  color: #ffffff;
}

#contact-left {
  position: relative;
  background-color: #292929;
}

#contact-left .section-title {
  color: #ffffff;
}

#contact-right {
  position: relative;
}

#contact-right {
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  padding: 0;
  margin: 0% 10% 10% 10%;
}

.contact-header {
  margin-top: 10%;
  color: #17252a;
  font-weight: 700;
}

.add {
  color: white;
}
